@charset "UTF-8";

@font-face {
  font-family: "HYQiHeiX4-35W-1";
  src: url("HYQiHeiX4-35W-1.woff2") format("woff2"),
       url("HYQiHeiX4-35W-1.woff") format("woff"),
       url("HYQiHeiX4-35W-1.ttf") format("truetype"),
       url("HYQiHeiX4-35W-1.eot") format("embedded-opentype"),
       url("HYQiHeiX4-35W-1.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}