* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 0.1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

input {
    background-color: transparent;
    border: 0;
}

input:focus {
    outline: none;
}

.fontSize12 {
    font-size: 0.12rem;
}

.fontSize14 {
    font-size: 0.14rem;
}

.fontSize16 {
    font-size: 0.16rem;
}

.fontSize18 {
    font-size: 0.18rem;
}

.fontSize20 {
    font-size: 0.2rem;
}

.fontSize24 {
    font-size: 0.24rem;
}

.fontSize30 {
    font-size: 0.3rem;
}

.fontSize32 {
    font-size: 0.32rem;
}

.fontSize36 {
    font-size: 0.36rem;
}

.fontSize40 {
    font-size: 0.4rem;
}

.fontSize56 {
    font-size: 0.56rem;
}

.float_left {
    float: left;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

