.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.loadState {
    display: none;
}

a {
    color: #fff;
}

/* 导航 */

.nav {
    width: 100%;
    height: 1.1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}

.nav {
    z-index: 800;
    background: -webkit-linear-gradient(rgba(3, 3, 3, 0.5), rgba(255, 255, 255, 0));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(3, 3, 3, 0.5), rgba(255, 255, 255, 0));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(3, 3, 3, 0.5), rgba(255, 255, 255, 0));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(3, 3, 3, 0.5), rgba(255, 255, 255, 0));
    /* 标准的语法 */
}

.nav:hover {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    /* 标准的语法 */
}

.nav ul {
    /* overflow: hidden; */
}

.nav ul li {
    float: right;
    margin-right: 3%;
    cursor: pointer;
    font-size: 0.18rem;
    z-index: 998;
    font-family: 'SourceHanSansCN-Regular';
    position: relative;
}

.nav ul li a {
    color: #fff;
    line-height: 1.1rem;
}

.nav ul li:hover a {
    color: #e90010;
}

.nav ul li .submenu {
    width: 1.6rem !important;
    top: 85% !important;
    background: rgba(245, 18, 33, .8)
}

.nav .triangle {
    border-color: transparent transparent rgba(245, 18, 33, .5) transparent;
}

.nav2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.1rem;
    background: #fff;
    padding: 0 3.5rem;
    z-index: 998;
}

.nav2 img {
    height: 100%;
    width: auto;
}

.nav2 .navBar {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 3.5rem;
    top: 0;
}

.nav2 .navBar li {
    float: left;
    width: 16.6666667%;
    height: 100%;
    position: relative;
}

.nav2 .navBar li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.1rem;
    font-size: 0.18rem;
    text-align: center;
    color: #000000;
    font-family: 'SourceHanSansCN-Regular';
}

.nav2 ul li:hover .sibmenu {
    color: #e90010;
}

.submenu {
    display: none;
    width: 1.9rem;
    position: absolute;
    top: 101%;
    left: 50%;
    color: #fff;
    background: #db1927;
    transform: translateX(-50%);
    padding: 0 0.1rem;
}

.subList {
    margin: 0.2rem 0;
    font-size: 0.16rem;
    text-align: center;
}

.subList a {
    color: #fff !important;
    line-height: 0.16rem !important;
}

.triangle {
    width: 0.2rem;
    height: 0.2rem;
    /* border-top: 0.1rem solid #db1927;
    border-right: 0.1rem solid #db1927;
    border-left: 0.1rem solid #db1927;
    border-bottom: 0.1rem solid #db1927; */
    border-width: 0.1rem;
    border-style: solid;
    border-color: transparent transparent #db1927 transparent;
    position: absolute;
    top: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
}

/*  */

.tyBox {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tyBox img {
    width: 100%;
}

.logo {
    width: 23%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 999;
}

.scrollBar {
    position: absolute;
    top: 50%;
    right: 0.6%;
    transform: translateY(-50%);
    width: 5%;
    z-index: 999;
}

.scrollBar ul {
    width: 2px;
    /* height: 100%; */
    margin: 0 auto;
}

.scrollBar ul li {
    width: 100%;
    height: 0.15rem;
    background: #ccc;
}

.scrollBar .active {
    background: #e90010;
}

.scrollBar .p1 {
    color: #e90010;
    text-align: center;
    margin-bottom: 10%;
}

.scrollBar .p2 {
    color: #fff;
    text-align: center;
    margin-top: 10%;
}

.scrollBar img {
    width: 4px;
    height: 4px;
    margin: 0 auto;
}

.mouseIcon {
    width: 2%;
    position: absolute;
    right: 2%;
    bottom: 5%;
}

/* 首页 */

.indexSwiper {
    overflow: hidden;
}

.indexSwiper .swiper-wrapper {
    position: relative;
}

.banner {
    position: relative;
}

.banner1 {
    width: 100%;
    height: 100%;
    background: url('./../images/index_bg1.jpg') no-repeat center;
    background-size: cover;
}

.banner2 {
    width: 100%;
    height: 100%;
    background: url('./../images/index_bg2.jpg') no-repeat center;
    background-size: cover;
}

.banner3 {
    width: 100%;
    height: 100%;
    background: url('./../images/index_bg3.jpg') no-repeat center;
    background-size: cover;
}

/* 关于我们 */

.aboutUs_1 {
    width: 100%;
    height: 100%;
    background: url('./../images/about_us_bg.jpg') no-repeat center;
    background-size: cover;
}

/* case */

.case {
    width: 100%;
    height: 100%;
}

/* slider */

.outerSlide {
    overflow: hidden;
}

.phoneIcon {
    width: 9%;
    position: absolute;
    bottom: 4%;
    left: 4%;
    z-index: 999;
}

.mouseIcon {
    width: 1.5%;
    position: absolute;
    bottom: 4%;
    right: 2.2%;
    z-index: 999;
}

.banner_left {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.banner3 .banner_left {
    top: 40%;
}

.banner_left p:nth-child(1) {
    margin-bottom: 5%;
    font-family: 'BASKVILL';
    font-size: 0.5rem;
}

.banner_left p:nth-child(2) {
    font-size: 0.6rem;
    font-family: 'SourceHanSansCN-Bold';
}

.banner_left p:nth-child(3) {
    font-size: 0.5rem;
}

.banner3 p {
    color: #333;
    font-size: 0.45rem !important;
}

.txt_margin {
    margin-bottom: 15%;
}

.arrow_icon img {
    width: 1rem !important;
    transition: all .2s;
    /* -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s; */
}

.news_title .arrow_icon img {
    margin: 0 auto;
}

.arrow_icon img:hover {
    transform: translateX(0.5rem);
}

.swiper-button {
    position: absolute;
    left: 14%;
    top: 75%;
    width: 8%;
    z-index: 999;
}

.swiper-button2 {
    left: 49.5%;
    top: 85%;
    z-index: 999;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
}

.swiper-button-next {
    width: 0.5rem !important;
    height: 0.5rem !important;
    background: url(./../images/turn_right_def.png) no-repeat center !important;
    background-size: cover !important;
    opacity: 1 !important;
    transition: all .2s;
    z-index: 999;
}

.swiper-button-prev {
    width: 0.5rem !important;
    height: 0.5rem !important;
    background: url(./../images/turn_left_def.png) no-repeat center !important;
    background-size: cover !important;
    opacity: 1 !important;
    transition: all .2s;
    z-index: 999;
}

.swiper-button-next:hover {
    transform: scale(1.2);
}

.swiper-button-prev:hover {
    transform: scale(1.2);
}

/* 首屏第二页 */

.banner_right {
    width: 21%;
    position: absolute;
    right: 10%;
    bottom: 0px;
    /* transform: translateY(-50%); */
    background: #fff;
    padding: 2% 3%;
    /* margin-bottom: 5%; */
}

.danwei {
    margin-bottom: 5%;
}

.danwei img {
    width: 100%;
}

.danwei p {
    font-size: 0.2rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 3% 0%;
    margin-bottom: 3%;
    font-family: 'SourceHanSansCN-ExtraLight';
}

.danwei ul li {
    float: left;
    /* width: 50%; */
}

.danwei ul li img {
    margin: 0 auto;
}

/* 首屏第三页 */

.banner_bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

.banner_bottom img {
    /* position: absolute;
    left: 0;
    top: 0; */
}

.ban3_left {
    width: 30%;
}

.jiangxiang {
    background: #fff;
    flex: 1;
    width: 70%;
    /* padding: 2.5% 0 0 4%; */
}

.jiangxiang ul {
    width: 100%;
    display: flex;
    padding: 0.5% 5%;
    margin-top: 1%;
}

.jiangxiang li {
    margin-right: 0.7rem;
    /*display: inline-block;*/
    /*flex: 1;*/
    /*position: relative;*/
    /*height: 1rem;*/
}

.jiangxiang li img {
    height: 1rem;
    /* width: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

/* about */

.about_top {
    width: 80%;
    height: 50%;
    position: relative;
    margin: 0 auto 0;
    color: #fff;
    /* overflow: hidden; */
}

.about_title {
    float: left;
    width: 50%;
    text-align: right;
    padding: 10% 5% 0 0;
}

.about_title p:nth-child(1) {
    font-size: 0.5rem;
    font-family: 'BASKVILL';
}

.about_title p:nth-child(2) {
    font-size: 0.6rem;
    font-family: 'SourceHanSansCN-Bold';
}

.about_desc {
    float: left;
    width: 50%;
    text-align: left;
    padding: 20% 0 0 0;
}

.about_desc p {
    font-size: 0.18rem;
    margin-bottom: 5%;
    line-height: 0.25rem;
    font-family: 'SourceHanSansCN-Light';
}

.about_bottom {
    width: 85%;
    height: 50%;
    position: relative;
    margin: 0 auto 0;
    color: #fff;
    overflow: hidden;
    /* padding-top: 3%; */
}

.about_bottom ul {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.about_bottom ul li {
    flex: auto;
    /* width: 25%; */
    vertical-align: top;
    margin: 1%;
}

.about_num {
    display: inline-block;
}

.about_num p {
    font-size: 2.5rem;
    font-family: 'GiveAHoot';
}

.about_numDesc {
    display: inline-block;
    color: #e90010;
    vertical-align: top;
    margin-top: 0.456rem;
}

.about_numDesc p:nth-child(1) {
    font-size: 0.24rem;
    font-family: 'SourceHanSansCN-ExtraLight';
}

.about_numDesc p:nth-child(2) {
    font-size: 0.18rem;
    font-family: 'SourceHanSansCN-ExtraLight';
}

/* .plus{
    margin-top: 0.4rem !important;
}
.plus p:nth-child(1){
    font-size: 0.35rem !important;
} */

/* 营销与产品 */

.products {
    width: 100%;
    overflow: hidden;
}

.products li {
    overflow: hidden;
    float: left;
    width: 33.333333%;
}

.products li img {
    width: 100%;
}

.products li {
    position: relative;
    border-right: 1px solid #999fa7;
}

.products li:last-child {
    border: none;
}

.product_bg1 {
    position: absolute;
    top: 0;
    left: 0;
}

.pro_img {
    transition: all 5s;
}

.pro_imgHover {
    transform: scale(1.2, 1.2);
}

.product_cont {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
}

.product_cont .pro_arrow {
    width: 25%;
    margin-top: 0.75rem;
}

.pro_p1 {
    font-size: 0.36rem;
    font-family: 'BASKVILL';
}

.pro_p2 {
    font-size: 0.32rem;
    margin: 0.9rem 0 0.35rem;
    font-family: 'SourceHanSansCN-Bold';
}

.pro_p3 {
    font-size: 0.18rem;
    font-family: 'SourceHanSansCN-Light';
}

/* case */

.caseCont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

.caseCont a {
    color: #fff;
}

.caseCont .case_float {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.case_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ani_33, .ani_34 {
    font-size: 0.32rem;
    font-family: 'SourceHanSansCN-Bold';
}

.ani_35 {
    font-family: 'SourceHanSansCN-Light';
}

.case_next {
    background: url('./../images/turn_right_def.png') no-repeat center !important;
    background-size: cover !important;
}

.case-button {
    left: 65%;
    top: 75%;
    z-index: 999;
    width: 10% !important;
}

.case-button .swiper-pagination-current {
    color: #e90010;
}

.case_pagination {
    color: #fff;
    bottom: -0.1rem;
}

.play {
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caseSwiper video {
    width: 100%;
    height: 100%;
}

.caseSwiper img {
    width: 100%;
}

.caseSwiper .arrow_icon img {
    position: relative;
    top: 0.2rem;
}

/* news */

.module5 {
    background: url('./../images/news_bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 2rem;
    color: #fff;
}

.module5 .swiper-slide img {
    width: 100%;
}

.news_title {
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin-bottom: 2%;
}

.news_title .float_left {
    width: 50%;
}

.news_title span:nth-child(1) {
    font-family: 'BASKVILL';
}

.news_title span:nth-child(2) {
    font-family: 'SourceHanSansCN-Bold';
}

.news_pic {
    position: relative;
    margin-bottom: 0.5rem;
}

.news_pic .news_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.newsSwiper .swiper-slide-next .news_mask {
    background: none;
}

.new_txt {
    display: none;
}

.fofa-blod {
    font-family: 'SourceHanSansCN-Bold';
}

.fofa-light {
    font-family: 'SourceHanSansCN-Light';
}

.newsSwiper .swiper-slide-next .new_txt {
    display: block;
}

.newsSwiper .fontSize24 {
    margin-bottom: 0.25rem;
}

.news-button {
    left: 22%;
    top: 80%;
    z-index: 999;
    width: 10% !important;
}

.news_pagination {
    color: #fff;
    bottom: -0.1rem;
}

.news-button .swiper-pagination-current {
    color: #e90010;
}

/* 联系我们 */

.module6 {
    /* background: url('./../images/contact_bg.jpg') no-repeat center;
    background-size: cover; */
    color: #fff;
}

.module6_back {
    animation: back_enlarge 10s forwards;
}

.module7_back {
    width: 100%;
    position: absolute;
    bottom: 0;
    animation: back_enlarge2 10s forwards;
}

@keyframes back_enlarge {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1)
    }
}

@keyframes back_enlarge2 {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.1)
    }
}

.contact_us {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contact_us .arrow_icon {
    /* display: inline-block; */
    float: right;
}

.contact_us .float_left {
    width: 50%;
    height: 100%;
    position: relative;
}

.contact_us li {
    margin-bottom: 0.4rem;
}

.posiTrans {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.posiTrans p {
    margin-bottom: 0.2rem;
}

.contact_title p:nth-child(1) {
    font-family: 'BASKVILL';
}

.contact_title p:nth-child(2) {
    font-family: 'SourceHanSansCN-Bold';
}

.ani_40 {
    font-family: 'SourceHanSansCN-Medium';
}

.ani_41 {
    font-family: 'SourceHanSansCN-ExtraLight';
}

.ani_42 {
    font-family: 'SourceHanSansCN-Light';
}

.contact_phone {
    margin-bottom: 0.77rem;
    margin-top: 0.8rem;
    /* border-bottom: 1px solid #fff; */
    padding-bottom: 0.2rem;
    position: relative;
}

.line_contcat1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.line_contcat2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.cooper {
    position: relative;
    /* border-bottom: 1px solid #fff; */
    padding-bottom: 0.2rem;
}

.swhz {
    display: inline-block;
    font-family: 'SourceHanSansCN-Bold';
}

.contact_add {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_add li p:nth-child(2)，.contact_add li p:nth-child(4) {
    margin-top: 0.25rem;
    margin-bottom: 0.1rem;
}

.contact_add li p:nth-child(1) {
    font-family: 'SourceHanSansCN-Medium';
}

.contact_add li p:nth-child(2) {
    font-family: 'SourceHanSansCN-ExtraLight';
}

.contact_add li p:nth-child(3) {
    font-family: 'SourceHanSansCN-Light';
}

.contact_add li p:nth-child(5) {
    font-family: 'SourceHanSansCN-Light';
}

.weixin {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border-bottom: 1px solid #fff; */
    padding-bottom: 0.3rem;
}

.weixin .line_qrcode {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    background: #fff;
}

.weixin .flex_1 {
    flex: 1;
    position: relative;
    vertical-align: text-bottom
}

.weixin p {
    margin-left: 0.1rem;
    font-family: 'SourceHanSansCN-Light';
}

.copy {
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    width: 100%;
}

.copy p:nth-child(1) {
    float: left;
    margin-left: 0.2rem;
}

.copy p:nth-child(2) {
    float: right;
    margin-right: 0.2rem;
}

.contact_mask {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
}

.liuzi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1rem 0.8rem;
}

.liuzi img {
    float: left;
    margin: 0 0.5rem;
}

.close_btn {
    width: 0.3rem;
    position: absolute;
    top: 0.2rem;
    right: -0.3rem;
}

.fillIn {
    /* display: none; */
    color: #000;
}

.fillIn li {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.2rem;
    margin-bottom: 0.3rem;
}

.fillIn li:last-child {
    border: none;
}

.fillIn li label {
    font-size: 0.16rem;
    width: 20%;
}

.fillIn li textarea {
    width: 100%;
    height: 0.8rem;
    padding: 0.1rem;
}

.fillIn li p {
    margin-bottom: 0.2rem;
}

.tijiao a {
    display: inline-block;
    color: #fff;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border-radius: 0.15rem;
    font-size: 0.18rem;
}

.tijiao a:nth-child(1) {
    background: #e90010;
    width: 2.1rem;
}

.tijiao a:nth-child(2) {
    background: #2a2a2a;
    width: 1.3rem;
}

/* //招聘 */

.recruit {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: url('./../images/recruit_bg.jpg') no-repeat center;
    background-size: cover; */
}

.recruit_cont {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.welcome_box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.welcome_box p:nth-child(1) {
    font-family: 'BASKVILL';
}

.welcome_box a {
    color: #fff;
    display: inline-block;
    font-family: 'SourceHanSansCN-Normal';
}

.popular ul {
    width: 7rem;
    overflow: hidden;
}

.popular ul:nth-child(1) {
    margin-bottom: 1rem;
}

.popular li {
    float: left;
    width: 33.333333%;
    text-align: left;
    margin-bottom: 0.15rem;
}

.recruit .marginEle {
    margin: 0.3rem 0 1rem 0;
    font-family: 'SourceHanSansCN-ExtraLight';
}

.marginBt_5 {
    margin-bottom: 0.5rem;
    font-family: 'SourceHanSansCN-Bold';
}

/* 智库 */

.tt {
    width: 100%;
    height: 100%;
    background: url('./../images/tt_bg.jpg') no-repeat center bottom;
    background-size: cover;
    padding-top: 3rem;
    color: #fff;
}

.tt_left {
    float: left;
    width: 30%;
    padding-left: 10%;
}

.tt_loginBtn {
    width: 100;
    background: rgba(233, 5, 21, .5);
    padding: 0.1rem 0.2rem;
    border-radius: 0.1rem;
    color: #fff;
    font-size: 0.2rem;
    font-family: 'SourceHanSansCN-Regular';
}

.tt_loginBtn:hover {
    background: rgba(233, 5, 21, 1);
}

.tt_right {
    float: left;
    width: 70%;
}

.tt_left .margin_tt_1 {
    margin-top: 0.55rem;
    margin-bottom: 0.1rem;
    font-family: 'SourceHanSansCN-ExtraLight';
}

.tt_left .margin_tt_2 {
    margin-bottom: 0.85rem;
    font-family: 'SourceHanSansCN-ExtraLight';
}

.tt_right img {
    width: 100%;
}

.tt .icons img {
    width: 0.22rem;
    display: inline-block;
}

.tt_right .tt_margin_1 {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    font-family: 'SourceHanSansCN-Light';
}

.tt_right .tt_margin_2 {
    margin-bottom: 0.25rem;
    font-family: 'SourceHanSansCN-Bold';
}

.icons span {
    margin-right: 0.25rem;
    vertical-align: middle;
    font-size: 0.14rem;
    font-family: 'SourceHanSansCN-Normal';
}

.icons span img {
    position: relative;
    top: 0.04rem;
    margin-right: 0.05rem;
}

.tt-button {
    left: 29%;
    top: 85%;
    width: 10%;
}

.tt_pagination {
    bottom: -7px;
    font-size: 0.12rem;
}

.cm_tt {
    z-index: 999;
}

.tt_title {
    text-align: center;
    margin-bottom: 0.7rem;
}

.tt_login {
    display: inline-block;
    color: #fff;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border-radius: 0.15rem;
    font-size: 0.18rem;
    background: #e90010;
    width: 3rem;
}

.cm_tt li {
    width: 3rem;
}

.tt_login a {
    color: #fff;
}

.contact_mask input {
    width: 2.5rem;
}

.cm_tt input {
    width: 75%;
}

.oa_tt input {
    width: 75%;
}

.verifyCodeBox {
    width: 100%;
}

.verifyCodeDiv {
    float: left;
    width: 60%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.2rem;
}

.verifyCodeDiv input {
    width: 60%;
}

.verifyCodeImg {
    float: right;
    width: 30%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.14rem;
}

.verifyCodeImg img {
    margin: 0;
    width: 100%;
}

.verifyCode {
    width: 60%;
}

.forgetBox {
    text-align: center;
    margin: 0.5rem 0;
}

.forgetBox a {
    margin: 0 5%;
    color: #333;
}

/* OA */

.OA {
    width: 100%;
    height: 100%;
    background: url('./../images/OA_bg.jpg') no-repeat center bottom;
    background-size: cover;
    /* padding-top: 5rem; */
    color: #fff;
    position: relative;
}

.loginOA {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loginOA p {
    letter-spacing: 0.2rem;
    font-family: 'SourceHanSansCN-ExtraLight';
}

.loginOA a {
    color: #fff;
    width: 1.2rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    background: rgba(233, 0, 16, .5);
    margin-top: 0.55rem;
    border-radius: 0.10rem;
    display: inline-block;
    font-family: 'SourceHanSansCN-Regular';
}

.loginOA a:hover {
    background: rgba(233, 0, 16, 1);
}

.oa_tt li {
    width: 3rem;
}

.oaDesc {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, .5);
}

.oa_login {
    display: inline-block;
    color: #fff;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border-radius: 0.15rem;
    font-size: 0.18rem;
    background: #e90010;
    width: 3rem;
    margin-top: 0.5rem;
}

.oa_login a {
    color: #fff;
}

.oa_float {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
}

.oa_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oa_menu_ul {
    overflow: hidden;
}

.oa_menu_ul li {
    float: left;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
}

.oa_menu_ul li:last-child {
    margin: 0;
}

.oa_menu_ul li a {
    padding: 0.25rem;
    background: rgba(255, 255, 255, .9);
    text-align: center;
    display: inline-block;
    border-radius: 0.1rem;
    color: #333;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
}

.oa_menu_ul li a img {
    margin: 0 auto;
}

.oa_menu_ul li a p {
    margin-top: 0.2rem;
    font-size: 0.14rem;
    font-family: 'SourceHanSansCN-Regular';
}

.oa_circle {
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0.12rem;
    right: 0.12rem;
    background: #e90010;
}

.wangpan {
    background: rgba(255, 255, 255, .9);
    border-radius: 0.1rem;
    color: #333;
    padding: 0.35rem 0.45rem;
}

.wangpan img {
    display: inline-block;
}

.wangpan a {
    color: #333;
}

.wangpan p {
    margin-bottom: 0.4rem;
    font-family: 'SourceHanSansCN-Medium';
}

.wangpan li {
    padding-bottom: 0.15rem;
    border-bottom: 1px solid #fff;
}

.wangpan li span {
    margin-right: 0.2rem;
    font-family: 'SourceHanSansCN-Light';
}

.join_oa {
    float: right;
}

.posiCenter {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.posiCenter p:nth-child(2) {
    margin-top: 0.2rem;
    margin-bottom: 0.75rem;
}

.OAName {
    font-size: 0.26rem;
    font-family: 'SourceHanSansCN-ExtraLight';
}

.OAName b {
    font-family: 'SourceHanSansCN-Medium';
}

.joinOA {
    color: #fff;
    width: 1.2rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    background: rgba(233, 0, 16, .5);
    border-radius: 0.10rem;
    display: inline-block;
    font-size: 0.2rem;
    font-family: 'SourceHanSansCN-Regular';
}

.joinOA:hover {
    background: rgba(233, 0, 16, 1);
}

/* footer */

.footer {
    width: 100%;
    padding: 1.2rem 3.5rem;
    background: #f9f9f9;
}

.footer_cont {
    width: 100%;
}

.footer_cont ul {
    width: 100%;
    overflow: hidden;
}

.footer_txt {
    float: left;
    width: 19%;
}

.footer_tit {
    font-size: 0.18rem;
    color: #000;
    margin-bottom: 0.4rem;
    font-family: 'SourceHanSansCN-Regular';
}

.footer_txt a {
    display: block;
    color: #9a9a9a;
    font-size: 0.16rem;
    margin-bottom: 0.1rem;
    font-family: 'SourceHanSansCN-Regular';
}

.footer_txt {
    text-align: center;
}

.footer_txt span {
    text-align: left;
}

.footer_txt:first-child span {
    float: left;
    display: inline-block;
}

.footer_txt:last-child span {
    float: right;
}

.footer_cont .footer_txt:first-child {
    width: 16%;
}

.footer_cont .footer_txt:last-child {
    width: 8%;
}

/* loading */

.progress {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading img {
    width: 2rem;
}

.prog {
    width: 2rem;
    height: 0.01rem;
    background: #fff;
    position: relative;
}

.prog .loadProColor {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #d7000f;
}