/* 首页 */
.container{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    position: relative;
}
.nav{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.89rem;
    background: url('../../images/wap/nav-bg.jpg') no-repeat center;
    background-size: 100%;
}
.nav .log{
    position: absolute;
    left: 0.56rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0.46rem;
}
.nav .menu{
    position: absolute;
    right: 0.52rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0.61rem;
    width: 0.61rem;
    /*animation: navmenu 1s linear infinite;*/
}

@keyframes navmenu {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.menu-content{
    overflow: hidden;
    z-index: 999;
    top: 0.89rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -0.89rem;
    margin: auto;
    width: 100%;
    height: 100%;
    background: url('../../images/wap/menu-content-bg.jpg') no-repeat;
    background-size: 100% 100%;
}

.menu-content .content{
    position: absolute;
    width: 6.11rem;
    height: 10.8rem;
    top: 0;
    bottom: 0;
    left: 0.57rem;
    margin: auto;
}
.menu-content .content .item{
    width: 100%;
    border-bottom: 1px solid  rgba( 255, 255, 255,0.2 ); ;
}
.menu-content .content .item .title{
    font-size: 0.32rem;
    font-family: "SourceHanSansCN";
    color: rgb( 255, 255, 255 );
    text-align: left;
    margin: 0.15rem 0;

}
.menu-content .content .item .list{
    font-size: 0.22rem;
    font-family: "SourceHanSansCN";
    color: rgba( 255, 255, 255, 0.6 );
    margin: 0.3rem 0;
}
.menu-content .content .item .list span{
    display: inline-block;
    padding-right: 0.3rem;

}

.footer{
    position: relative;
    background-color: #f9f9f9;
}
.footer-top{
    width: 100%;
    height: 9rem;
    margin-top: 1.07rem;
    margin-left: 0.5rem;
}
.footer-top .item{
    margin-bottom: 0.45rem;
}
.footer-top .item .title a{
    margin-bottom: 0.3rem;
    font-size: 0.25rem;
    font-family: "SourceHanSansCN";
    color: rgb( 61, 61, 61 );
}
.footer-top .item  .list a{
    display: inline-block;
    margin-top: 0.2rem;
    font-size: 0.22rem;
    font-family: "SourceHanSansCN";
    color: rgba( 61, 61, 61, 0.6 );
}
.footer-top .item .list span{
    display: inline-block;
    padding-right: 0.4rem;
    line-height: 1.889;
}
.footer-bottom{
    background-color:rgb( 0, 0, 0 );
    width: 100%;
    height: 1.2rem;
    font-size: 0.18rem;
    padding-top: 0.25rem;
    text-align: center;
    font-family: "SourceHanSansCN";
    color: rgba( 255, 255, 255, 0.6 );
    line-height: 1.889;
}





.arrow_icon_btn{
    animation: arrow_icon_btn 1s linear infinite;

}


@keyframes arrow_icon_btn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}