.swiper1 {
    width: 100%;
    /* margin: 0 auto; */
}

/* .swiper1 .swiper-container {
    overflow: auto;
} */

.swiper-button-next, .swiper-button-prve {
    outline: none;
}

 .swiper1_btn .swiper1_next {
     width: 30px;
    background: url('./../images/swiper1_next.png') no-repeat center;
     background-size: 40%;
     margin-top: 3rem;
}

 .swiper1_btn .swiper1_prve {
    width: 30px;
    background: url('./../images/swiper1_prve.png') no-repeat center;
     background-size: 40%;
     margin-top: 3rem;


 }

 .swiper2-title{
     position: relative;
 }

.swiper2-title .swiper-pagination{
    position: absolute;
    bottom: 7rem;
}
.swiper2-title  .swiper-pagination-bullet {
    width: 8px;
    height: 6px;
    text-align: center;
    opacity: 1;
    background: none;
    background-image: url("../images/swiper-pag-icon.png");
    background-size: 100%;
}
.swiper2-title  .swiper-pagination-bullet-active {
    width: 8px;
    height: 7px;
    background: none;
    background-image: url("../images/swpier-pag--icon-active.png");
    background-size: 100%;
}
.swiper2-title  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 5px;
}
.swiper2-title .swiper-container{
    /*position: static;*/
    margin-top: -0.1rem;
}