.ceshi-top{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 5.8rem;
    background-color: transparent;
    z-index: 1;
}
.ceshi-top .ceshi-top-container{
    background-color: transparent;
}
.ceshi-top .ceshi-top-slide{
    position: relative;
    display: inline-block;
    width: 33.3333%;
    height: 4.3rem;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 300ms;
    transform: scale(1);
    opacity: 0.7;
}
.ceshi-top .ceshi-top-slide.active{
    transform: scale(1.2);
    height: 5.7rem;
    z-index: 1;
    opacity: 1;
}

.ceshi-group{
    width: 100%;
    position: relative;
    z-index: 0;
    margin-top: -1.8rem;
}
.ceshi-group .item{
    position: relative;
    width: 100%;
}
.ceshi-group .swiper-pagination{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;

}
.ceshi-group .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    text-align: center;
    opacity: 1;
    background: none;
    background-image: url("../images/swpier-pag--icon1.png");
    background-size: 100%;
    margin: 0 2px;
    outline:none;

}
.ceshi-group .swiper-pagination-bullet-active{
    width: 35px;
    border-radius: 0;
    background: url("../images/swpier-pag--icon-active1.png") no-repeat;
    background-size: 100%;
    outline:none;
    margin: 0 2px;
}


.peizhi{
    position: relative;
    margin-top: -5px;
}
.peizhi .bg{
    width: 100%;

}
.peizhi .swiper-container{
    position: absolute;
    top: 2.5rem;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}
.peizhi .swiper-pagination{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;

}
.peizhi .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    text-align: center;
    opacity: 1;
    background: none;
    background-image: url("../images/swpier-pag--icon1.png");
    background-size: 100%;
    margin: 0 2px;
    outline:none;

}
.peizhi .swiper-pagination-bullet-active{
    width: 35px;
    border-radius: 0;
    background: url("../images/swpier-pag--icon-active1.png") no-repeat;
    background-size: 100%;
    outline:none;
    margin: 0 2px;
}

/*.peizhi_swiper1_btn{*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 2.5rem;*/
    /*z-index: 5;*/
    /*margin: auto;*/
    /*height: 0;*/
/*}*/
.peizhi .peizhi_swiper1_next {
    position: absolute;
    right: 3rem;
    width: 0.8rem;
    top: auto;
    bottom: 1.2rem;
    background: url('./../images/ceshi_swiper1_prve.png') no-repeat center;
    background-size: 100%;
    outline:none;
}

.peizhi .peizhi_swiper1_prve {
    position: absolute;
    left: 3rem;
    width: 0.8rem;
    top: auto;
    bottom: 1.2rem;
    background: url('./../images/ceshi_swiper1_next.png') no-repeat center;
    background-size: 100%;
    outline:none;
}


@media screen and  (min-height: 800px) {
    .ceshi-top{
        height: 6.2rem;
    }
    .ceshi-top .ceshi-top-slide{
        height: 4.5rem;
    }
}