@charset "UTF-8";

@font-face {
    font-family: "AudiTypeV01-ExtendedNormal";
    src: url("./../font/AudiTypeV01-ExtendedNormal.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

img {
    border: none;
}

/*清除浮动*/
.clear {
    zoom: 1;
}

.clear:after {
    display: block;
    content: "";
    clear: both;
    visibility: hidden;
    height: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

a, a:hover, a:active, a:visited, a:link, a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}


input, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    /*touch-action: none;*/
    /*height: 100%;*/
    /*overflow-x: hidden;*/
}

body {
    -webkit-text-size-adjust: 100% !important;
    background-color: #000000;
    /*background: url(../images/xundijia-back.png) repeat-y;*/
    /*background-size: 100%;*/
}
.img_back{
    width: 100%;
    display: block;
}
.content {
    width: 100%;
}
.logo{
    position: relative;
}
.logo-btn .img_back{
    width: 100%;
}
.logo-btn .btns{
    width: 75%;
    height: 1.5rem;
    text-align: right;
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    margin: auto;
}

.logo-btn .btns a {
    font-size: 0.7rem;
    height: 1.5rem;
    padding: 1% 2%;
    background: #fff;
    color: #000;
}

.logo-btn .btns .active {
    background: #3AB2DB;
    color: #ffffff;
}

.logo-btn .btns a:nth-child(1) {
    margin-right: 0.05rem;
}

.banner{
    position: fixed;
    width: 11%;
    bottom: 20%;
    right: 1px;
    z-index: 999;
}
.banner img{
    width: 100%;
}
.banner .yuyue{
    margin-bottom: -20px;
}

.video{
    position: relative;
    overflow: hidden;
}

.video video{
    display: block;
}

.video .poster{

}

.video .btn-play{
    position: absolute;
    width: 20%;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    left: 0;
    z-index: 1;
}

.video .video_post{
}

.car-swiper{
    position: relative;
    margin-top: -5px;
}
.car-swiper .title{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: #ffffff;
    text-align: center;
    font-size: 0.8rem;
    width: 4.5rem;
    background-color: #3AB2DB;
    border: 1px solid #3AB2DB;
    height: 1.2rem;
    line-height: 1.2rem;
}
.big-banner{
    position: relative;
}
.big-banner img{
    width: 100%;
}

.liuzi-title{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 2%;
}

.liuzi-title img{
    width: 98%;
}

.liuzi{
    position: relative;
    overflow: hidden;
    margin-top: -5px;
}
.liuzi  .img_search-log{
    position: absolute;
    width: 36%;
    right: -25px;
    top: 0;
}
.liuzi .form{
    position: absolute;
    width: 88.2%;
    height: 74.4%;
    left: 50%;
    margin-left: -44.4%;
    top: 12%;
    /*background-color: #ae8a66;*/
    padding-bottom: 2.5rem;
}
.liuzi .form .title-desc{
    width: 100%;
    display: block;
    margin-top: 0.3rem;
    color: white;
    margin-left: 1.7rem;
    margin-bottom: -2%;
    opacity: 0.5;
    font-size: 0.6rem;
}

.liuzi .form .op{
    width: 85%;
    height: 7.6%;
    margin: 3% auto;
    position: relative;
}

.liuzi .form .op .select-arrow{
    position: absolute;
    height: 95%;
    top: 0;
    right: 3px;
}

.liuzi .form .info{
    width: 85%;
    height: 17%;
    margin: 4% auto;
    border: 0.5px solid rgba( 255, 255, 255,0.251 );
    background-color: rgba( 255,255,255,0.5 );
}

.liuzi .form .info .message{
    width: 87%;
    margin: 2% auto;
    text-align: left;
}
.liuzi .form .info .message p{
    color: #000;
    font-size: 0.7em;
}

.liuzi .form .info .message p.title{
    font-size: 0.8em;
}

.liuzi .form .info .message img{
    width: 0.8em;
}

.liuzi .form .info .no-message{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.liuzi .form .info .no-message p{
    text-align: center;
    color: white;
    font-size: 0.8em;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 50%;
    margin-top: -5%;
}


.liuzi .form .tip{
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    font-size: 0.75em;
    text-indent: 0.75em;
    opacity: 0.8;
}

.liuzi .form .half{
    width: 45%;
    height: 100%;
    position: relative;
}


.liuzi .form .btn{
    text-align: center;
    font-size: 0.9em;
    line-height: 2.2rem;
}

.right{
    float: right;
}
.left{
    float: left;
}

.liuzi .form .tip::-webkit-input-placeholder{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1em;
    text-indent: 1em;
    line-height:1.5em;
}


.liuzi .form input::-webkit-input-placeholder {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1em;
    text-indent: 1em;
}

/* 询底价 */
.xundijia{
    position: relative;
}
.xundijia .title{
    width: 100%;
}
.xundijia .img_search-log{
    position: absolute;
    width: 36%;
    left: -25px;
    top: 10px;
}
.inquiryPrice{
    margin-top: -5px;
    padding: 10px 0;
    width: 100%;
    /*background: url("../images/xundijia-back.png") repeat-y;*/
    background-size:100%;

}
.inquiryPrice:before{
    content: '';
    display: block;
}

 .inquiryPrice .search{
    width: 95%;
    height: 2rem;
     margin: auto;
}

.inquiryPrice .search .left,
.inquiryPrice .search .right{
    position: relative;
    width: 48%;
    height: 100%;
    line-height: 2rem;
}
.inquiryPrice .search .left img,
  .inquiryPrice .search .right img{
     width: 18%;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
 }
.inquiryPrice .search .left .inp{
    font-size: 13px;
    display: inline-block;
    border: 1px solid #ffffff;
    width: 75%;
    height: 2rem;
    line-height: 2rem;
    background: none;
    color: white;
    padding-left: 5px;
    border-radius: 0;
}
.inquiryPrice .search .right .inp{
    font-size: 13px;
    display: inline-block;
    border: 1px solid #ffffff;
    width: 75%;
    height: 2rem;
    line-height: 1.5rem;
    background: none;
    color: white;
    padding-left: 5px;
    border-radius: 0;
}
input::-webkit-input-placeholder {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1em;
}
.inquiryPrice .search .left .end{
    position: absolute;
    right:0.8rem;
    top: 3px;
    margin: auto;
    width: 5%;
    bottom: 0;
}
.inquiryPrice .search .right .span-sty{
    position: absolute;
    width: 15%;
    background-color: red;
    height: 1.8rem;
    right: 0.7rem;
    opacity: 0;
    top: 3px;
}
.inquiryPrice .search .right .end{
    position: absolute;
    right: 1rem;
    top: 3px;
    bottom: 0;
    margin: auto;
    width: 10%;

}

.tab1_5 .distributor {
    width: 93%;
    margin: 2rem auto 0;
}

.tab1_5 .distributor .list {
    background: #ae8a66;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 0.7rem;
    margin-top:1rem;
}

.tab1_5 .distributor .list p {
    margin-top: 0.4rem;
}

.tab1_5 .dizhi {
    background: url('./../images/list-local.png') no-repeat center;
    background-size: auto 100%;
}

.tab1_5 .dianhua {
    background: url('./../images/list-phone.png') no-repeat center;
    background-size: auto 100%;
}

.tab1_5 .distributor .btns {
    margin-top: 0.5rem;
    overflow: hidden;
}

.tab1_5 .distributor .btns a {
    padding: 0.25rem 2.2rem;
    box-sizing: border-box;
    font-size: 0.9rem;
    border: 1px solid rgb( 173, 38, 53 );
}
.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 5px;
}
.tab1_5 .call_now {
    float: left;
    color:rgb( 173, 38, 53 );
    background-color: transparent;
    border: 1px solid rgb( 173, 38, 53 );
}

.tab1_5 .app_now, .app_now2 {
    float: right;
    color: white;
    background-color: rgb( 173, 38, 53 );
    padding: 0.05rem 0.35rem;
    box-sizing: border-box;

}
.tab1_5  .look_more{
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
.tab1_5  .look_more img{
    height: 0.7rem;
}

/* 省市选择器 */

.doubleSelect {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, .5); */
    z-index: 999;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    /* z-index: 999; */
}

.selectCont {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
}

.cityselect-title {
    text-align: center;
    font-size: 0.7rem;
    line-height: 2rem;
    border-bottom: 1px solid #e7e7e7;
}

.cancelBtn {
    float: left;
    margin-left: 0.1rem;
    color: #999;
}

.selectUl {
    width: 100%;
    display: flex;
}

.selectUl .sel {
    flex: 1;
    text-align: center;
    font-size: 0.7rem;
}

.selectCity, .selectPro {
    position: relative;
}

.selectCity, .selectPro ul {
    height: 17rem;
    overflow: auto;
}

.selectPro::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #e7e7e7;
}

.sel li {
    line-height: 2rem;
}

.act {
    color: #cc0031;
    font-size: 0.7rem;
}

.doubleSelect .icon {
    display: none;
}

.j_active {
    position: relative;
    width: 0.09rem;
    top: -1px;
    vertical-align: middle;
}

.act .j_active {
    display: inline-block !important;
}

.j_active::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('./../images/j_active.png') no-repeat center;
    background-size: 100%
}




.call{
    /*border: 1px solid rgb( 173, 38, 53 );*/
    /*color: rgb( 173, 38, 53 );*/
}

.call a{
    /*color: rgb( 173, 38, 53 );*/
    width: 100%;
    height: 100%;
    display: inline-block;
}

.app{
    /*background-color: rgb( 173, 38, 53 );*/
    /*border: 1px solid rgb( 173, 38, 53 );*/
}

.app a{
    color: white;
    width: 100%;
    height: 100%;
    display: inline-block;
}


.body-hidden{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.html-hidden {
    overflow: hidden;
}




.find_pop {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.find_pop ul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: #fff;
    text-align: center;
}

.find_pop ul li {
    flex: 1;
    font-size: 0.6em;
    padding: 1.6rem 0;
}

.find_pop ul li a {
    display: block;
    color: #333;
}

.find_pop ul li img {
    height: 1.8rem;
    width: auto;
    margin-bottom: 0.1rem;
}


.media {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
}

.media img {
    width: 100%;
}

/*.find_pop p {*/
    /*font-size: 1em;*/
/*}*/

.wxBox {
    width: 10rem;
    top: 50%;
    margin-top: -5rem;
    left: 50%;
    margin-left: -5rem;
}

.xcxBox {
    width: 10rem;
    top: 50%;
    margin-top: -5rem;
    left: 50%;
    margin-left: -5rem;
}

.dn {
    /*top: 0;*/
    /*position: fixed;*/
    height: 30rem;
}
.dn img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
}

#app2 {
    display: none;
    width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
    background: #fff;
}
select{
    border: solid 1px red;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
select::-ms-expand { display: none; }


/* 首屏 */

.first {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-image: url("./../images/kv1.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    overflow: hidden;
    z-index: 999;
}

@media screen and (min-height: 740px) {
    .first {
        background-image: url("./../images/kv2.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
}

.first .open {
    position: absolute;
    left: 0;
    margin: auto;
    top: 87%;
    right: 0;
}
.first .open .img1{
    display: block;
    width: 35%;
    margin: auto;
}
.first .turnBottom {
    margin-top: 0.2rem;
    animation: iconBottom 1s linear infinite;
}

@keyframes iconBottom {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

iframe{
    display: none;
}
/*.first .firsterweima{*/
    /*position: absolute;*/
    /*bottom: 0.2rem;*/
    /*right: 0.2rem;*/
/*}*/
