.swiper1 {
    width: 100%;
    position: relative;
}



.swiper-button-next, .swiper-button-prve {
    outline: none;
}

.swiper1 .swiper1_btn .swiper1_next {
     width: 1.8rem;
    background: url('./../images/swiper1_next.png') no-repeat center;
     background-size: 70%;
     margin-top: 16rem;
}

.swiper1 .swiper1_btn .swiper1_prve {
    width: 1.8rem;
    background: url('./../images/swiper1_prve.png') no-repeat center;
     background-size: 70%;
     margin-top: 16rem;


 }

 .swiper2{
     position: relative;
 }

.swiper2 .swiper-pagination{
    position: absolute;
    top: 80%;
}
.swiper2  .swiper-pagination-bullet {
    width: 12px;
    height: 10px;
    text-align: center;
    opacity: 1;
    background: none;
    background-image: url("../images/swiper-pag-icon.png");
    background-size: 100%;
}
.swiper2  .swiper-pagination-bullet-active {
    width: 12px;
    height: 10.5px;
    background: none;
    background-image: url("../images/swpier-pag--icon-active.png");
    background-size: 100%;
}
.swiper2  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 15px;
}
.swiper2 .swiper-container{
    /*position: static;*/
    /*margin-top: -0.1rem;*/
}
