* {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    touch-action: pan-y;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #000;
}

body {
    -webkit-text-size-adjust: 100% !important;
}

img {
    border: none;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    display: none;
}

.scroll {
    overflow: scroll;
}

.delay {
    display: none;
}

.loading {
    display: block;
}

.loading .loading_bg {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.loading_progress {
    width:45%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}
.loading_txt {
    width: 50px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 56%;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

#music {
    /*display: none;*/
}

.music {
    width: 100%;
    height: 35px;
}

.music img {
    position: absolute;
    right: 10px;
    padding: 2px;
    z-index: 20;
    height: 90%;
    animation: circle 3s linear infinite;
}

@keyframes circle {
    from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}

.first .first_bg {
    width: 100%;
    display: inherit;
}

.first .first_cloud {
    position: absolute;
    width: 100%;
    bottom: 25%;
    z-index: 1;
}

.first .first_cloud_bottom {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
}

.first .first_move {
    position: absolute;
    width: 100%;
    bottom: 0%;
    z-index: 1;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .first .first_move {
        bottom: 5%;
    }
}

.first .move_animated {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: down_up_shake;
}

.first .car_shake {
    position: fixed;
    width: 100%;
    top: 29%;
    z-index: 1;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    .first .car_shake {
        bottom: 30%;
    }
}

@media only screen and (device-width: 411px) and (device-height: 823px){
    .first .car_shake {
        bottom: 33%;
    }
}

.first .rotate_animated {
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-name: left_right_shake;
}

@keyframes down_up_shake {
    0% {
        transform: translate3d(0,0,0);
    }

    50% {
        transform: translate3d(0,10px,0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
}

@keyframes left_right_shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.first .first_click_hand,.first .first_click_point,.first .first_click_txt {
    position: fixed;
    top: 62%;
    z-index: 1;
    width: 100%;
}

.first .click {
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-name: click_shake;
}

@keyframes click_shake {
    0% {
        transform: translate3d(0,0,0) scale(1);
    }

    50% {
        transform: translate3d(0,-3px,0) scale(0.98);
    }

    100% {
        transform: translate3d(0,0,0) scale(1);
    }
}


.second .second_bg {
    width: 100%;
    display: inherit;
}

.second .second_cloud {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.second .second_cloud_txt {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.second .second_play {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.second .second_hand {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.second .click {
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-name: click_shake;
}

.second .second_txt {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.third .third_bg {
    width: 100%;
    display: none;
}

.third .third_cloud {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.third .third_cloud_txt {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.fourth video {
    width: 100%;
    height: 100%;
}
.fourth canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    display: none;
}

.fifth .fifth_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.sixth .sixth_bg {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.sixth .sixth_cloud {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.sixth .sixth_cloud_txt {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.sixth .sixth_hand, .sixth .sixth_hand_point, .sixth .sixth_hand_txt {
    position: absolute;
    width: 100%;
    top: 65%;
    z-index: 1;
}

.sixth .click {
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-name: click_shake;
}

.seventh .seventh_bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

.seventh .seventh_txt {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.seventh_1 .seventh_1_bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.seventh_1 .seventh_cloud {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.seventh_1 .top16 {
    margin-top: -16%;
}

.seventh_1 .click {
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-name: click_shake;
}

.eighth {
    z-index: 2;
}

.eighth .eighth_bg {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.eighth .input {
    position: absolute;
    bottom: 201px;
    height: 2.6rem;
    width: 100%;
    z-index: 1;
}

.eighth .input .time {
    margin-left: 52%;
    width: 16%;
    height: 94%;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.eighth .eighth_hand {
    display: none;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
}

.eighth .eighth_submit {
    width: 100%;
    position: absolute;
    z-index: 3;
    bottom: 5%;
}

.eighth .eighth_submit .schb {
    width: 30%;
    margin-left: 35%;
}

.eighth .generate {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eighth .generate span {
    margin-top: -38%;
    height: 20px;
    display: block;
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    z-index: 5;
}

.ninth {
    z-index: 1;
}

.ninth .share_bg {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

.ninth .number {
    position: absolute;
    z-index: 1;
    height: 1.5rem;
    top: 16%;
    left: 43%;
    width: 18%;
    text-align: center;
}

.ninth .number img {
    height: 100%;
    padding: 0 0.1rem;
    width: 1rem;
}

.ninth .container {
    width: 100%;
    height: 100%;
}

.ninth .footer {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
}

.ninth .erweima {
    position: absolute;
    /*width: 100%;*/
    left: 10px;
    height: 17%;
    /*text-align: center;*/
    z-index: 1;
}

.ninth .erweima img {
    height: 100%;
}

#sdimg {
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 10;
}
.info {
    position: absolute;
    z-index: 1;
    height: 3.5rem;
    top: 2.3rem;
    left: 1.5rem;
    display: flex;
    align-items: center;
}

.info .avatar {
    height: 100%;
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    z-index: 2;
    position: relative;
}
.info .avatar img {
    height: 100%;
}

.info .nickname {
    border: 2px solid #000;
    padding: 0 1rem;
    font-size: 0.5rem;
    left: -0.6rem;
    height: 50%;
    z-index: 1;
    position: relative;
    border-radius: 0.2rem 0.2rem;
    text-align: center;
    background: #fff;
}
.info .nickname span {
    display: inline-block;
    height: 100%;
    font-size: 16px;
}


input:focus {
    outline: none;
}














