.content2 {
    margin-bottom: 0.6rem;
}

.c2_swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.param_swiper {
    width: 90%;
    margin: 0 auto;
}

.c2_3 {
    position: relative;
    top: -1px;
}

.c2_3 img {
    display: block;
}

.carSpot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.spotSwiper {
    width: 90%;
    margin: 0 auto;
}

.c2_4 {
    position: relative;
    top: -0.7rem;
    /* z-index: 10; */
    background: #e7e7e7;
    padding-top: 1.04rem;
}

.carEvaluate {
    width: 100%;
    padding: 0.1rem;
}

.eva_1 {
    position: relative;
    margin-bottom: 0.2rem;
}

.eva_1 div {
    float: left;
    opacity: 0.9;
}

.eva_1 {
    overflow: hidden;
}

.eva_left {
    width: 65%;
}

.eva_right {
    width: 35%;
    color: #cc0031;
    float: right !important;
}

.eva_left img {
    height: 0.35rem;
    width: auto;
    text-align: left;
}

.eva_right span {
    float: right;
    line-height: 0.35rem;
}

.eva_right img {
    height: 0.2rem;
    width: auto;
    display: inline;
    line-height: 0.4rem;
    vertical-align: middle;
}

.eva_right span:nth-child(1) {
    margin: 0 0.15rem;
}

/* 背景渐变 */

.gradient {
    width: 100%;
    height: 0.35rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #d6d6d6;
}

.gradient div {
    height: 100%;
    float: left;
}

.grad_left {
    z-index: 2;
    width: 55%;
    /* width 最小55最大70 */
    position: relative;
    background: url('./../images/grad_left_bg.png') no-repeat;
    background-size: 100% 100%;
}

.grad_right {
    z-index: 1;
    width: 40%;
    /* background: -webkit-linear-gradient(left, #c0c0c0, #e4e4e4);
    background: linear-gradient(left, #c0c0c0, #e4e4e4); */
}

.eva_1:nth-child(3) .grad_left {
    width: 55%;
}

.eva_1:nth-child(4) .grad_left {
    width: 55%;
}

.eva_1:nth-child(5) .grad_left {
    width: 55%;
}

.grad_left img {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    right: -0.2rem;
    width: auto;
    height: 0.25rem;
}

.c2_5 {
    position: relative;
    top: -0.4rem;
    background: #fff;
    width: 100%;
}

.articles {
    width: 100%;
    padding: 0 0.2rem;
}

.articles li {
    overflow: hidden;
    border-top: 1px solid #d4d4d4;
    padding: 0.15rem 0;
}

.articles li a {
    display: block;
    overflow: hidden;
}

.art_left {
    width: 40%;
    float: left;
}

.art_right {
    height: 100%;
    position: relative;
    padding-left: 0.1rem;
    width: 60%;
    float: left;
}

.art_right p {
    font-size: 0.1rem;
    color: #9d9d9d;
    margin-top: 0.05rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.art_right h3 {
    font-size: 0.12rem;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.time {
    /* position: absolute;
    left: 0;
    bottom: 0; */
}

.more_art {
    margin: 0.1rem 0 0.4rem;
    position: relative;
    padding: 0.2rem 0;
    width: 100%;
    text-align: center;
}

.more_art img {
    /* display: inline; */
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
}

.more_art::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45%;
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background: #333;
    z-index: 9;
}

.understand {
    width: 50%;
    margin: 10% auto 1rem;
}

.eva_icon {
    float: right;
}

.vr {
    position: relative;
    top: -0.4rem;
}

.understand {
    position: relative;
    top: -0.4rem;
}

.rotate30 {
    animation: rotate30 .2s linear forwards;
}

.rotate0 {
    animation: rotate0 .2s linear forwards;
}

@keyframes rotate30 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg)
    }
}

@keyframes rotate0 {
    0% {
        transform: rotate(45deg)
    }
    100% {
        transform: rotate(0deg);
    }
}

/* 文章弹窗 */

.evaluation_pop {
    overflow: auto;
    display: none;
    width: 100%;
    height: 100% !important;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 990;
    background: #fff;
}

.evaluation_pop iframe {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.evaluation_pop iframe body {
    margin: 0;
}