.dialog{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(11,28,58,0.8);
}
.dialog-model{
    width: 15rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 30rem;
    bottom: 0;
    text-align: center;
    height: 12rem;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px #ffd900 solid;
    border-radius: 0;
}
.dialog-model .title{
    text-align: center;
    font-size: 1rem;
    height: 3rem;
    border-bottom: 1px solid #ffd900;
    color: #ffffff;
    line-height: 3rem;
}
.dialog-model .text{
    margin-top: 0.5rem;
    color: white;
    text-align: center;
    overflow: auto;
    height: 6rem;
}
.dialog-model .text p:first-child{
    line-height: 6rem;
    height: 6rem;
    font-size: 0.9rem;
}
.dialog-model .bottom{
    height: 2rem;
    line-height: 2rem;
    width: 100%;
}
.dialog-model .bottom button{
    margin: 0 5px;
    border:none;
    background-color: #ffd900;
    padding: 4px;
    width: 33%;
    color: white;
    outline: none;

}